.todo-container {
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
  }
  
  .todo-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin: 15px 0px;
  }

  .paragraph {
    flex: 1;
  }

  .input-text {
    margin-left: 20px;
    border-radius: 5px;
  }

  .task-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .add-button {
    padding: 6px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #create-button {
    color: white;
    margin-top: 10px;
    margin-left: 0px;
  }

  .todo-list {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-item {
    background-color: #f2f2f2;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
  }
  
  /* Hover effect for todo items */
  .todo-item:hover {
    background-color: #e0e0e0;
  }

  nav {
    background-color: #4ea8bc;
    color: white;
    padding: 12px 20px;
    display: flex;
  }

  button {
    background-color: #2a68a7;
    margin: 0 15px;
    border-radius: 15px;
  }

  a {
    text-decoration: none;
    color: rgb(97, 122, 190);
    display: block;
  }

  a:hover {
    text-decoration:solid;
  }

  .single-item {
    margin-bottom: 20px;
  }

.collapse .card-body {
  background-color: #f0f0f0; 
  padding: 10px; 
}