.card-header {
    display: flex;
}

.center-text {
    width: 4rem;
    height: 2rem;
    display: flex;
    margin-top: 0.25rem;
    font-size: 0.84rem !important;
    text-align: center !important;
}

.task-header {
    font-weight: bold;
    margin-bottom: 1rem;
}