.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-header {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}